<div class="services-page">

  <!-- Header -->

  <div class="page-header">

    <div>
      <h1>Services</h1>
      <p>Choose a service to book an appointment</p>
    </div>

  </div>


  <!-- Search -->

  <div class="search-box">

    <span>🔍</span>

    <input type="text" placeholder="Search services..." [ngModel]="searchText()"
      (ngModelChange)="onSearchChange($event)" />
  </div>


  <!-- Services -->

  <div class="service-grid">

    @for (service of filteredServices(); track service?._id) {

    <div class="service-card">

      <div class="service-icon">
        ✂️
      </div>

      <div class="service-content">

        <h2>
          {{ service.name }}
        </h2>

        <p>
          {{ service.description }}
        </p>

        <div class="service-info">

          <span>
            ⏱ {{ service.duration }} min
          </span>

          <strong>
            ₹{{ service.price }}
          </strong>

        </div>

        <button type="button" class="book-btn" (click)="openDetails(service)">
          View Details
        </button>

      </div>

    </div>

    }

  </div>


  <!-- Empty -->

  @if (filteredServices().length === 0) {

  <div class="empty-state">

    <h3>No services found</h3>

    <p>Try another service name.</p>

  </div>

  }

</div>

@if (selectedService()) {

<div class="modal-overlay" (click)="closeDetails()">

  <div class="service-modal" (click)="$event.stopPropagation()">

    <button type="button" class="close-btn" (click)="closeDetails()">
      ✕
    </button>

    <div class="modal-icon">✂️</div>

    <h2>{{ selectedService()?.name }}</h2>

    <p class="modal-description">
      {{ selectedService()?.description }}
    </p>

    <div class="modal-info">

      <div>
        <span>Duration</span>
        <strong>
          {{ selectedService()?.duration }} minutes
        </strong>
      </div>

      <div>
        <span>Price</span>
        <strong>
          ₹{{ selectedService()?.price }}
        </strong>
      </div>

    </div>

    <div class="included">

      <h3>What's included?</h3>

      <ul>
        <li>Professional service</li>
        <li>Experienced staff</li>
        <li>Clean environment</li>
        <li>Appointment confirmation</li>
      </ul>

    </div>

    <div class="modal-actions">

      <button type="button" class="cancel-btn" (click)="closeDetails()">
        Close
      </button>

      <a class="continue-btn" (click)="selectStaffAndContinue()">
        Select Staff & Continue
      </a>

    </div>

  </div>

</div>

}